<!DOCTYPE html>
<html lang="ko" id="facebook" class="">
  <head>
    <!-- 제목 : 상단 탭에 표시 됨 -->
    <title id="pageTitle">Facebook - 로그인 또는 가입</title>
    
    <!-- 메타 정보 -->
    <meta charset="utf-8" />
    <meta name="referrer" content="origin-when-crossorigin" id="meta_referrer"/>
    <meta property="og:site_name" content="Facebook"/>
    <meta property="og:url" content="https://ko-kr.facebook.com/"/>
    <meta property="og:image" content="https://www.facebook.com/images/fb_icon_325x325.png"/>
    <meta property="og:locale" content="ko_KR"/>
    <meta name="description" content="Facebook에 로그인하세요. 친구, 가족, 지인들과 함께 하는 즐거운 Facebook 생활이 시작됩니다."/>
    
    <!-- 링크 -->
    <link rel="alternate" media="only screen and (max-width: 640px)" href="https://m.facebook.com/"/>
    <link rel="shortcut icon" href="https://static.xx.fbcdn.net/rsrc.php/yb/r/hLRJ1GG_y0J.ico"/>
    
    <script src="https://use.fontawesome.com/releases/v5.2.0/js/all.js"></script>
  </head>
  <body>
    <div role="main">
      <div>
        <img src="../images/facebook-logo.svg" width="200px" />
      </div>
      <div>
        <div>
          <div>새 계정 만들기</div>
          <div>빠르고 쉽습니다.</div>
        </div>

        <form method="post" name="reg" action="">
          <div>
            <div>
              <div aria-hidden="true">성(姓)</div>
              <input type="text" name="lastname" value="" aria-required="true" aria-label="성(姓)"/>
            </div>
            <div>
              <div aria-hidden="true">이름(성은 제외)</div>
              <input type="text" name="firstname" value="" aria-required="true" aria-label="이름(성은 제외)"/>
            </div>
          </div>
          <div>
            <div>
              <div aria-hidden="true">휴대폰 번호 또는 이메일</div>
              <input type="text" name="reg_email__" value="" aria-required="true" aria-label="휴대폰 번호 또는 이메일" />
            </div>
            <div>
              <div aria-hidden="true">새 비밀번호</div>
              <input type="password" name="reg_passwd__" aria-required="true" aria-label="새 비밀번호" />
            </div>
          </div>
          <div>
            <div>생일
              <a href="#" title="더 자세한 정보를 원하시면 여기를 클릭하세요." role="button" >
                <i class="fas fa-solid fa-circle-exclamation"></i>
              </a>
            </div>
            <div>
              <select aria-label="연도" name="birthday_year" title="연도">
                <option value="2022" selected="1">2022</option>
                <option value="2021">2021</option>
                <option value="2020">2020</option>
                <option value="2010">....</option>
                <option value="1905">1900</option>
              </select>
              <select aria-label="월" name="birthday_month" title="월">
                <option value="1" selected="1">1월</option>
                <option value="2">2월</option>
                <option value="3">3월</option>
                <option value="12">12월</option>
              </select>
              <select aria-label="일" name="birthday_day" title="일">
                <option value="1" selected="1">1</option>
                <option value="2">2</option>
                <option value="3">3</option>
                <option value="4">4</option>
                <option value="5">5</option>
                <option value="31">31</option>
              </select>
            </div>
          </div>
          <div>
            <div>연령</div>
            <div>
              <div>
                <div>회원님의 연령</div>
                <input type="text" name="birthday_age" aria-label="회원님의 연령"/>
              </div>
              <a href="#" role="button">생년월일 사용</a>
            </div>
          </div>
          <div>
            <div>성별
              <a aria-label="" title="자세한 정보를 보려면 여기를 클릭하세요" href="#" role="button">
                <i class="fas fa-solid fa-circle-question"></i>
              </a>
            </div>
            <span>
              <span>
                <label for="rdo-1">여성</label>
                <input id="rdo-1" type="radio" name="sex" value="1" />
              </span>
              <span>
                <label for="rdo-2">남성</label>
                <input id="rdo-2" type="radio" name="sex" value="2" />
              </span>
              <span>
                <label for="rdo-3">개인 지정</label>
                <input id="rdo-3" type="radio" name="sex" value="-1" />
              </span>
            </span>
          </div>
          <div>
            <div>
              <select aria-label="회원님을 어떻게 지칭할지 선택하세요" name="preferred_pronoun">
                <option selected="1" value="" disabled="1">회원님을 어떻게 지칭할지 선택하세요</option>
                <option value="1">여성(She): "생일을 축하해주세요!"</option>
                <option value="2">남성(He): "생일을 축하해주세요!"</option>
                <option value="6">성별무관(They): "생일을 축하해주세요!"</option>
              </select>
            </div>
            <div>선택한 항목이 모든 사람에게 공개됩니다.</div>
            <div>
              <div>
                <div aria-hidden="true">성별(선택 사항)</div>
                <input type="text" name="custom_gender" aria-label="성별(선택 사항)" />
              </div>
            </div>
          </div>
          </div>
          <div>
            <button type="submit" name="websubmit">가입하기</button>
          </div>
          <div>
            <a href="./01_facebook_index.html" aria-label="이미 계정이 있으신가요?">이미 계정이 있으신가요?</a>
          </div>
        </div>
      </form>
    </div>
  </body>
</html>