@media (max-width: 800px) {
  * {
    font-size: 0;
  }

  main .container {
    width: 100vw;
  }

  main .list {
    width: 100vw;
  }

  main .container li {
    width: 33.33333%;
    box-sizing: border-box;
  }
}

@media (max-width: 600px) {
  main .container li {
    width: 50%;
  }
}
