<!DOCTYPE html>
<html lang="ko" id="facebook" class="">
  <head>
    <!-- 제목 : 상단 탭에 표시 됨 -->
    <title id="pageTitle">Facebook - 로그인 또는 가입</title>
    
    <!-- 메타 정보 -->
    <meta charset="utf-8" />
    <meta name="referrer" content="origin-when-crossorigin" id="meta_referrer"/>
    <meta property="og:site_name" content="Facebook"/>
    <meta property="og:url" content="https://ko-kr.facebook.com/"/>
    <meta property="og:image" content="https://www.facebook.com/images/fb_icon_325x325.png"/>
    <meta property="og:locale" content="ko_KR"/>
    <meta name="description" content="Facebook에 로그인하세요. 친구, 가족, 지인들과 함께 하는 즐거운 Facebook 생활이 시작됩니다."/>
    
    <!-- 링크 -->
    <link rel="alternate" media="only screen and (max-width: 640px)" href="https://m.facebook.com/"/>
    <link rel="shortcut icon" href="https://static.xx.fbcdn.net/rsrc.php/yb/r/hLRJ1GG_y0J.ico"/>
  </head>
  <body>
    <div>
      <div id="globalContainer" class="uiContextualLayerParent">
        <div class="fb_content clearfix" id="content" role="main">
          <div>
            <div>
              <div>
                <div>
                  <div>
                    <img
                      src="https://static.xx.fbcdn.net/rsrc.php/y8/r/dF5SId3UHWd.svg"
                      width="200px"
                    />
                  </div>
                  <h2>
                    Facebook에서 전세계에 있는 친구, 가족, 지인들과 함께
                    이야기를 나눠보세요.
                  </h2>
                </div>
                <div>
                  <div>
                    <div>
                      <form action="/login/?=eyJ0eXBl..." method="post" onsubmit="" id="u_0_a_rp">
                        <input type="hidden" name="jazoest" value="2859" autocomplete="off"/>
                        <input type="hidden" name="lsd" value="AVophA3NFE0" autocomplete="off"/>
                        <div>
                          <div>
                            <input type="text" name="email" id="email" data-testid="royal_email" 
                                placeholder="이메일 또는 전화번호" autofocus="1" aria-label="이메일 또는 전화번호" />
                          </div>
                          <div>
                            <div>
                              <input type="password" name="pass" id="pass" data-testid="royal_pass" placeholder="비밀번호" aria-label="비밀번호" />
                              <div>
                                <a href="#" role="button">
                                  <div>
                                    <div></div>
                                  </div>
                                </a>
                              </div>
                            </div>
                          </div>
                        </div>
                        <input type="hidden" autocomplete="off" name="login_source" value="comet_headerless_login"/>
                        <input type="hidden" autocomplete="off" name="next" value=""/>
                        <div>
                          <button value="1" name="login" data-testid="royal_login_button" type="submit">
                            로그인
                          </button>
                        </div>
                        <div>
                          <a href="https://ko-kr.facebook.com/recover/initiate/?......amp;ars=facebook_login">
                            비밀번호를 잊으셨나요?
                          </a>
                        </div>
                        <div></div>
                        <div>
                          <a href="#">
                            새 계정 만들기
                          </a>
                        </div>
                      </form>
                    </div>
                    <div>유명인, 브랜드 또는 비즈니스를 위한
                      <a href="/pages/create/?....">
                        페이지 만들기
                      </a>
                      .
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div>
          <div>
            <div data-referrer="page_footer" data-testid="page_footer">
              <div>
                <div><span>Meta © 2022</span></div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </body>
</html>
 